{% extends 'poll/base.html' %}
{% block content %}
<!-- <h1>{{title}}</h1> -->




<section style="display:flex; justify-content: center">
  {% for t in posts %}
      <div style="padding: 20px;  border: 1px solid black; margin: 20px; box-shadow: 10px 3px 3px lightgrey; margin-left: 80px" >
        <img src="{{t.p_photo.url}}" alt="" width="250px" height="250px"style="padding: 20px; "  >
        <p class="pt-3" style="font-size: 25px; font-family: 'Inconsolata', monospace;"> {{t.p_title}}</p>
        <p style="font-family: 'Inconsolata', monospace;">{{t.price}} t</p>
        <a href="{{ t.get_absolute_url }}" id="btn" class="btn btn-outline-dark">More</a>
      </div>
{% endfor %}
</section>  



  </div>


  






  





{% endblock %}
