{% extends 'poll/base.html' %}
{% block content %}
<!-- <h1>{{title}}</h1> -->
<p>
<ul>
    {% for c in posts %}
    <li>
        <h2>{{c.p_title}}</h2>
        <p>{{c.p_description}}</p>
        <hr>
    </li>




    {% endfor %}
</ul>

<div class="catalogg">
{% for t in posts %}
<div class="product-card">

  <!-- <p>Category: {{t.cat}}</p> -->
    <h1>{{t.p_title}}</h1>
    
    <div class="product-pic">
        <img src="https://cdn.pixabay.com/photo/2017/10/15/16/20/iphone-2854305_960_720.png" alt="" width="270px" height="260px">
    </div>
    
    <div class="product-info">
      <div class="product-price">$90</div>
      <a href="{{ t.get_absolute_url }}" id="btn" class="btn btn-outline-dark">Add to Cart</a>
    </div>
  </div>
  {% endfor %}
  </div>

  





{% endblock %}
