{% extends 'poll/base.html' %}
{% load static %}

{% block content %}

    <div class="container d-flex flex-row  mt-3 ">
        <img src="https://cdn.pixabay.com/photo/2017/10/15/16/20/iphone-2854305_960_720.png" alt="" width="270px" height="260px">
        <h1 class="">{{product.title}}</h1>
    </div>
    <h2>
        <p>
            <a href="{% url 'post_share' product.id %}">
            Share this post
            </a>
        </p>
    </h2>
    <h1>Comments</h1>
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}

    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <h2>Add a new comment</h2>
        <form method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}

{% endblock %}
