{% extends 'poll/base.html' %}
{% load static %}

{% block content %}
        {% comment %} <h1 class="">{{object.p_description}}</h1> {% endcomment %}

       
        <section style="background-color: #eee; margin-left: 400px; margin-top: 20px" >
          
                  <div class="card text-black">
                    <img src={{object.p_photo.url}}
                      class="card-img-top" alt="iPhone" />
                    <div class="card-body">
                      <div class="text-center mt-1">
                        <h4 class="card-title" style="font-family: 'Inconsolata', monospace;">{{object.p_title}}</h4>
                        <h6 class="text-primary mb-1 pb-3" style="font-family: 'Inconsolata', monospace;">{{object.price}}</h6>
                        <h6 class="text-primary mb-1 pb-3" style="font-family: 'Inconsolata', monospace;">{{object.p_description}}</h6>
                      </div>
          
                  
                   
                      {% if object.author == user %}
                      <div class="d-flex flex-row">
                        <button type="button" class="btn btn-primary flex-fill me-1" data-mdb-ripple-color="dark">   <a  href="{% url 'product-update' object.id %}">Update</a></button>
                        <button type="button" class="btn btn-danger flex-fill ms-1">  <a   href="{% url 'product-delete' object.id %}">Delete</a></button>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          
  
          </section>
          

          
          

  </div>
     
    {% comment %} <h2>
        <p>
            <a href="{% url 'post_share' product.id %}">
            Share this post
            </a>
        </p>
    </h2>
    <h1>Comments</h1>
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}

    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <h2>Add a new comment</h2>
        <form method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}


{% endcomment %}

{% endblock %} 