
*{
	margin: 0;
	padding: 0;
	font-family: "Open Sans",sans-serif;
	box-sizing: border-box;
  }

.media{
	display: flex;
}
.content-section{
	margin-top: 20px;
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;

}


.account-img{
	border:1px solid #dddddd;
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;

}
.account-heading{
	font-size: 2.5rem;
}



.catalogg{
	  margin-left: 100px;
	  text-align: center;
	  display: flex;

  }

  .product-card{
	  max-width: 400px;
  }

  .product-card h1{
	text-align: center;

	font-size: 22px;

  }

  .product-pic{
	margin-top: 0;
	transition: .6s linear;
  }



  .product-info{

	align-items: center;
  }
  .product-price{

	font-size: 26px;
	text-align: center;
  }


  .product-button:hover{
	transform: scale(1.06);
  }








.container1{

	height: 1500px;

}
  .text-small {
	font-size: 0.9rem;
  }

  a {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
  }

  a:hover, a:focus {
	text-decoration: none;
  }

  .form-control {
	background: white;
	border-color: #545454;

  }

  /* .form-control:focus {
	background: white;
	color: white;
  } */

  footer {

	background: #212529;
  }


  /* ==========================================
	  CUSTOM UTILS CLASSES
	========================================== */
	body, html {
	  height: 100%;
	}




#log{
	margin-left: -60px;
}

.comment {
    padding:10px;
    margin-top: 20px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size: 12px;
    color:#666;
}

label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#000000;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
h2 {
    font-weight:normal;
    margin:30px 0 0;
}
line{
    width: 100%;
    height: 3px;
    background-color: black;
}